<form action="create" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden">

  <div class="form-group">
    <label for="name">Your name:</label>
    <%= collection_select(:user, :name, User.all, :name, :name)%>
    
  </div>

  <div class="form-group">
    <label for="password">Your password:</label>
    <input type="password" name="user[password]" id="password" class="form-control">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign In" data-disable-with="Sign In">
  </div>

</form>